.job {
  padding: 25px 0px;
}
.job > p {
  margin-bottom: 0em;
}
#upper-timeline {
  float: right;
}
.tag:active {
  background-color: inherit;
}
.proj-tag {
  color: #0A0A0A;
  background-color: inherit;
  border: 1px solid #0A0A0A;
  margin: 0 5px 5px 0;
  background-color: inherit;
  padding: .85em 1.15em;
  text-align: center;
  display: inline-block;
}

#timeline-filter {
  height: 50px;
  border: 1px solid #C5C7C9;
  color: white;
}
#timeline-slider {
  top:18.6px;
  background: none !important;
  border: none !important;
}
.ui-slider-handle {
  border: 3px solid white !important;
  background: none !important;
  background-color: white !important;
  border-radius: 50% !important;
}
.ui-slider-handle:hover {
  border: 3px solid white !important;
  background: none !important;
  background-color: white !important;
  border-radius: 50% !important;
}

.highlight {
  background-color: white; }

.tag {
  background-color: inherit;
  border: 1px solid #C5C7C9;
  margin: 0 5px 5px 0;
  padding: .85em 1.15em;
  color: #FEFEFE;
  text-align: center;
  display: inline-block;
}
.tag:hover {
  text-decoration: underline;
  background-color: inherit;
}

.checked {
  text-decoration: underline;
}

#about {
  padding: 15px 4%;
  background-color: #f24b4b;
  margin: 0px;
  max-width: none; }

#header {
  margin-bottom: 20px; }

.img-circle {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  width: 250px;
  height: 250px; }

#skillsets {
  width: 100%;
  color: white; }

#skillsets > li {
  display: inline; }

#main-nav {
  width: 100%; }

#main-nav nav {
  padding: 0px; }

#main-nav nav ul {
  margin: 0px;
  background-color: #13042b; }

.nav-button {
  float: right;
  background: none;
  width: 100px; }

.nav-button:hover {
  background-color: #480fa3; }

.project {
  padding: 25px 0px;
}

.webapp-nav {
  height: 25px; }

.webapp-embed {
  background-color: #EEE;
  border: 1px solid #C5C7C9;
  border-radius: 15px;
  padding: 5px 10px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.webapp-bottom {
  text-align: center;
  padding: 5px 0px; }

.fa-apple {
  font-size: 45px; }

.fa-times-circle {
  color: #f85b42;
  padding: 1px; }

.fa-minus-circle {
  color: #f7bd15;
  padding: 1px; }

.fa-plus-circle {
  color: #21ce29;
  padding: 1px; }

.mobile-embed {
  margin-left: auto;
  margin-right: auto;
  padding: 20px 15px;
  border: 3px solid #C5C7C9;
  background-color: #29314C;
  border-radius: 25px;
  color: white;
  font-size: 35px;
  text-align: center;
  width: 260px;
  height: 475px; }

.homebutton {
  padding: 3px; }

#name {
  font-size: 55px;
  color: white;
  font-family: 'Inconsolata', Arial;
  text-align: center; }

h2 {
  font-size: 55px; }

#crane-banner {
  font-size: 95px;
  color: white;
  padding-top: 10px; }

#main-crane {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 3.5em;
  max-width: 100%; }

#jobs {
  background-color: white;
  position: relative;
  padding: 0px 4%;
}

#babelboard-1 {
  height: 400px;
  display: block; }

hr {
  border-bottom: 3px solid white; }

body {
  background-color: #13042b;
  font-family: 'Inconsolata', Arial;
  font-weight: 100; }

#projects {
  background-color: #6bd6f1;
  max-width: none;
  padding: 0px 4%; }

.description {
  padding: 15px 25px; }

.is-hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 2s linear; }

.is-visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 1s linear; }

#download-resume {
  color: #FEFEFE;
}

#contact {
  color: white;
  margin-bottom: 65px;
  text-align: center; }

#contact img {
  height: 300px; }

.nopadding {
  padding: 0px; }

@media only screen and (min-width: 1024px) {
  .rotate {
    -ms-transform: rotate(-15deg);
    /* IE 9 */
    -webkit-transform: rotate(-15deg);
    /* Chrome, Safari, Opera */
    transform: rotate(-15deg); }

  .right-info {
    text-align: right; } }
@media only screen and (max-width: 768px) {
  #lower-timeline, #upper-timeline {
    font-size: 80%;
  }
  .tag, .proj-tag {
    padding: .65em 1em;
    font-size: 80%;
  }
  .webapp-nav {
    height: 15px;
    font-size: 10px;
  }
  .fa-apple {
    font-size: 25px;
  }
  .right-info {
    font-style: italic; }
  .bio {
    display: none;
  }
  .timeline-section {
    display: none;
  }
}
